.grid {
  display: grid;
  gap: 30px;
}

.grid-task {
  display: grid;
  background: #333;
  gap: 5px;
  height: 200px;
  width: 200px;
}

.grid-task > * {
  background: linear-gradient(to left bottom, red, blue);
}

.grid-task--1 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-task--2 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-task--3 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-task--4 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-task--5 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-task--6 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-task--7 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid-task--8 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.child-2x {
  grid-column: 2 span;
}
.child-3x {
  grid-column: 3 span;
}
.child-4x {
  grid-column: 4 span;
}
.child-5x {
  grid-column: 5 span;
}
.child-6x {
  grid-column: 6 span;
}
.child-7x {
  grid-column: 7 span;
}
.child-8x {
  grid-column: 8 span;
}

.child-2y {
  grid-row: 2 span;
}
.child-3y {
  grid-row: 3 span;
}
.child-4y {
  grid-row: 4 span;
}
.child-5y {
  grid-row: 5 span;
}
.child-6y {
  grid-row: 6 span;
}

.grid-area-1-1-3-3 {
  grid-area: 1/1/3/3;
}
