.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-size: 1em;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 8em 0;
  margin-top: 200px;
}

.container td,
.container th {
  padding: 8px 0 8px 12px;
}

.form {
  padding: 5px;
}

.win {
  background-color: green;
}
.loss {
  background-color: red;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.419);
}
