table {
  text-align: center;
  border-collapse: collapse;
  background-color: #f6f6f6;
  margin: 200px auto;
  overflow: hidden;
  z-index: -2;
}
td,
th {
  border: 1px solid #999;
  padding: 20px;
}
th {
  background: rgb(42, 93, 165);
  color: white;
  border-radius: 0;
  top: 0;
  padding: 10px;
}
.primary {
  background-color: #000000;
}

tfoot > tr {
  background: black;
  color: white;
}
tbody > tr > td:hover {
  background-color: #0734ff;
}

tfoot > tr > td {
  width: 300px;
}

tbody > tr:hover {
  background: yellowgreen;
}
td {
  position: relative;
}

td:hover::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 5000px;
  background-color: rgba(0, 255, 255, 0.256);

  top: -2500px;
  left: 0;
}

tfoot > tr > td:hover {
  position: relative;
}
